// COLORES

$primario: #13bdee;
$secundario: #384158;
$gris-claro: #eee;
$gris-oscuro: #76777a;

.primario {
    color: $primario;
}

// TIPOGRAFÃAS

$tipo : 15px;
$rob: 'Roboto',
sans-serif;

$slab: 'Roboto Slab',
serif;

// MIXIN FLEX

@mixin flex ($direction, $horizontal, $vertical){
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin caja($anchura, $altura){
    width: $anchura;
    min-height: $altura;
}

body,html{
    font-size: $tipo;
    font-family: 'Roboto', sans-serif;
    color: $gris-oscuro;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: $secundario;
}

header{
    .nav-top{
        background-color: $primario;
        color: #fff;
        @include flex(null, space-around, center);

        .info a{
            color: #fff;
            margin-left: 20px;
        }

        .login a{
            color: $secundario;
            background-color: $gris-claro;
            padding: 15px 50px;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-weight: 500;
            transition: background-color .4s,
                color .4s;

            &:hover{
                background-color: $secundario;
                color: #fff;
            }
        }
    }
    .navbar{
        padding: 20px 40px;
        a{
            color: $secundario;
            font-size: 1.3rem;
            margin-right: 20px;
            transition: color .4s;
            &:hover{
                color: $primario;
            }
            
        }
        .active{
            border-bottom: solid 2px $primario;
            color: $primario;
        }

        a.navbar-brand{
            font-family: $slab;
            letter-spacing: .05rem;
            font-size: 2rem;
            font-weight: 700;

            span{
                color: $primario;
            }
        }
    }
}


// BANNER
#banner {
    @include caja(100%, 100vh);
    @include flex(column, center, center);
    background: url("../img/fondoCabecera.jpg") center center no-repeat / cover;
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    a{
        background-color: $primario;
        color: #fff;
        padding: 15px 30px;
        border-radius: 30px;
        transition: background-color .4s,
            color .4s;

        &:hover{
            background-color: $secundario;
            color: #fff;
        }
    }
}

// BIENVENIDA
#bienvenida{
    @include caja(100%, 75vh);
    text-align: center;
    background-color: #fff;
    @include flex(column, center, center);
    border-bottom: 1px solid $gris-claro;

    h3{
        font-size: 2.2rem;
        color: $secundario;
    }

    &>p{
        max-width: 35%;
        margin: 20px 0 100px 0;
        line-height: 160%;
        letter-spacing: .05rem;
    }

    .col-md-3{
        transition: box-shadow .5s;
        padding: 50px 20px;
        h4{
            margin: 20px 0;
        }
        &:hover{
            box-shadow: 0 0 15px rgba(0, 0, 0, .2);
        }
    }
}


section#cursos{
    @include caja(100%, 100vh);
    @include flex(row, center, center);
    border-bottom: 1px solid $gris-claro;
    h2{
        margin-top: 100px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    p{
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .detalle{
        @include flex(null, null, center);
        i{margin-right: 5px;}

        span:last-child {
            color: $primario;
            font-size: 1.2rem;
            font-weight: 600;
            font-family: $slab;
            letter-spacing: .1rem;
        }
    }

    a{
        text-decoration: none;
        color: $gris-oscuro;
    }

    .col-12 a{
        background-color: $primario;
        color: #fff;
        padding: 20px 40px;
        margin-top: 40px;
        border-radius: 5px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: .01rem;
        font-weight: 600;
        margin-bottom: 100px;
    }
}

section#noticias {
    @include caja(100%, 100vh);
    @include flex(row, center, center);
    border-bottom: 1px solid $gris-claro;
    h2{
        margin-top: 100px;
        font-size: 2.5rem;
        font-weight: 700;
    }

    p{
        margin-bottom: 100px;
        margin-top: 20px;
    }

    img{
        border-radius: 7px;
        margin-bottom: 30px;
    }

    .detalle{
        @include flex(null, null, start);
        .fecha{
            @include flex(column, center, center);
            // box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            padding: 5px 15px;
            border-radius: 5px;
            span{
                color: $primario;
                font-family: slab;

                &:first-child{
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 90%;
                }

                &:last-child{
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
        }

        .resumen{
            margin-left: 30px;
            text-align: justify;
        }
    }
}

footer{
    width: 100%;
    height: 50vh;
    background-color: #1E2434;
    @include flex(null, center, center);
    color: $gris-claro;
    div .col-md-4{
        margin-top: 50px;
        p{
            font-weight: 200;
            font-size: .95rem;
            color: #B5B8BE;
        }
    }

    .logo{
        font-size: 2rem;
        color: $gris-claro;
        margin-bottom: 30px;
        span{
            color: $primario;
        }
    }
    a .fa{
        background-color: #4B505D;
        color: $gris-claro;
        border-radius: 50%;
        padding: 18px;
        width: 50px;
        height: 50px;
        text-align: center;
        transition: 0.2s all;
        margin-right: 10px;
        margin-top: 25px;
        &:hover{
            opacity: 0.7;
        }

    }

    h4{
        color: $gris-claro;
        margin-bottom: 40px;
    }
    
    hr{
        margin-top: 60px;
        border: .4px solid #353A49;
    }
    .copy{
        color: #B5B8BE;
        @include flex(null, center, center);
        font-size: 0.9rem;
        margin-top: 35px;
    }
    .cursos{
        display: inline-block;
        margin-right: 70px;
    }
}

.titulo{
    background-color: $primario;
    width: 100%;
    height: 130px;
    @include flex(null, cente, center);
    h2{
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 900;
        color: $gris-claro;
    }
}

section#noticia{
    .ultimas-noticias{
        border: solid 1px #EEEEEE;
        padding: 20px;
        height: 52vh;
        h5{
            font-size: 1.3rem;
            text-transform: uppercase;
            &:after{
                width: 85px;
                height: 3px;
                background-color: $primario;
                margin-top: 10px;
                margin-bottom: 20px;
                content: "";
                display: block;
            }
        }
        .btn{
            margin-top: 10px;
            border: none;
            padding: 8px 75px;
            text-align: center;
            background-color: $secundario;
        }
        ul{
            li{
                margin-top: 20px;
                a{
                    color: $secundario;
                    
                }
            }
        }
    }
    .descripcion{
        margin-top: 15px;
        padding: 20px;
    }
    .compartir{
        a .fa{
            color: $primario;
            border: 2px solid $primario;
            border-radius: 50%;
            font-size: 2rem;
            padding: 9px;
            width: 50px;
            height: 50px;
            text-align: center;
            transition: 0.2s all;
            margin-left: 20px;
            margin-right: 10px;
            margin-top: 15px;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

